body {
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important;
    color: #565a5c;
}


.nav2 > li > a{
font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important;
font-size:14px;
font-weight:400;
}

.lato{
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important;
}

.lnews {
	font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","华文细黑","STHeiti","微软雅黑","Microsoft YaHei",SimHei,sans-serif !important;
    font-size: 32px;
    color: #565a5c;

    padding-bottom: 21.25px;
    padding-top: 40px;
}

h2, .h2 {
    font-size: 32px;
}

.text-lead {
    font-size: 16px;
}

.ryimen_label{ 
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../images/ryimen/list_hover_bg.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;


    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;

    position: absolute;
}

.msbox2{
    position: relative;
}
.msbox{
    position: relative;
}

.item.wt2 { width: 50% }

.ryimen_label_title{
    font-size: 18px;
    color: #fff;
}
.ryimen_label_desc{
    font-size: 14px;
    color: #ddd;
}
.ryimen_label_price{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #ffca08;
    font-size: 24px;
}


.ryimen_label2{ 
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;


    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

    position: absolute;
}
.ryimen_label_title2{
    font-size: 18px;
    color: #000;
}

.ryimen_label_desc2{
    font-size: 14px;
    color: #565a5c;
}
.ryimen_label_price2{
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #f3185a;
    font-size: 24px;
}


.ryimen_label3{ 
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;


    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;

    position: absolute;
}