.line2l{background:#e8e8e8; height:1px;  margin:6px 0 6px 0; padding:0; display:block;}
.line10{background:#e8e8e8; height:1px;  margin:0px 0 0px 0; padding:0; display:block;}



/*CSS FOR LIST PAGE*/
.pagecontainerl{ background:#fff; margin-top:10px; border:1px solid #cccccc;  box-shadow: 0 0 5px rgba(0, 0, 0, 0.13);}


.filtertipl {height:80px; background:#006699; padding:0px; color:#fff; position:relative; text-align:center; line-height:10px; font-family:'Open Sans'}
@media (min-width: 992px) {
.breadcrubl{margin-top:120px; color:#ccc;}
}

.topsortbyl{ padding-top:20px; padding-bottom:59px; border-bottom:1px solid #e6e6e6;}



.itemlabel3l{background:#f2f2f2; width:100%; height:180px;  font-family:"Open Sans"; font-size:13px; line-height:15px; overflow:hidden;}
.labelrightl{float:right; height:100%; width:18%; padding:10px 5px 10px 5px; border-left:1px solid #e8e8e8;}

.labelleft2l{padding:15px 0 0px 10px; width:82%;height:100%; font-family:"Open Sans"; font-size:13px; line-height:22px;}


/* lhj add*/
.listconditionsel {
border-radius: 4px;
font-family: "宋体";
text-align:center;
margin-top: 10px;
margin-right: 10px;
padding: 3px 8px;
color: #fff;
background-color: #006699;
border-width:1px;
border-style:solid;
line-height: normal;
font-size: 14px;
display: block;
float: left;
position: relative;
}
.listcondition {
border-radius: 4px;
font-family: "宋体";
text-align:center;
margin-top: 10px;
margin-right: 10px;
padding: 3px 8px;
color: #999;
line-height: normal;
font-size: 14px;
display: block;
float: left;
position: relative;
}

.destinationcondition {
  display: block;
  min-height: 20px;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.destbutton {
width: 100%;
height: 32px;
border: 0px none;
text-align: left;
padding-left: 0px;
padding-right: 0px;
color: #666;
background-color:#efefef;
font-family: "Open Sans";
font-size: 14px;
font-weight: 700;
}
.condition{
	text-decoration:none;
}
.condition:hover {
text-decoration: none;
background-color: #006699;
color: #fff;
}
.hpadding0{padding: 5px 0px 5px 0px;}
.hpadding5050{padding: 5px 20px 5px 20px;}

.listproducttitle{
	font-weight: bold;
	line-height:30px;
color: #333;
font-size: 20px;
font-family: "微软雅黑",Arial, Helvetica, sans-serif;
}

.listproducttitle:hover{
	text-decoration:none;
color: #0000CD;
}
  .col-md-80percent{
    width: 80%;
  }
    .col-md-20percent{
    width: 20%;
  }
  .listnonstyle{
  list-style: none;
  -webkit-padding-start: 0px;
  }
  
  .mg10 {
margin: 10px 0 0 0;
}

  .mg5 {
margin: 5px 0 0 0;
}
.mgtop10{
	margin:10px 0 0 0;
}
.mgleft10{
	margin-left:10px
}
  .youhui{
  border-radius: 4px;
font-family: "宋体";
margin-right: 10px;
padding: 3px 8px;
color: #fff;
background-color: #71bbfa;
line-height: normal;
font-size: 12px;
display: block;
float: left;
position: relative;
  }
.n_fc12 {
color: #666;
}
.fb {
font-weight: bold;
}

.fl{
	float:left;
}
.fr{
	float:right;
}
.fn{
	float:none;
}
.div-inline{ display:inline}
.labelbottom{
	display: block;
float: left;
text-align: center;
padding: 0px 20px 0px 8px;
color: #999;
font-weight: bold;
width:25%;
}
.borderright{
border-right: 1px solid #ddd;
}
.labeldate{
	display: block;
float: left;
text-align: center;
padding: 5px 20px;
color: #999;
font-weight: bold;
}
.btn_checkmore{
display: block;
float: left;
text-align: center;
color: #fff;
width:80px;
height:25px;
font-size: 14px;
background-color: #FF4500;
border-radius: 4px;
font-family: "宋体";
margin:20px 6px 3px 3px;
padding: 3px 8px;
line-height: normal;
position: relative;
}
.btn_checkmorediv{
	
margin:5px 0 5px 0;
	
}
.listprice{
height:30%;
font-size: 30px;
color: #FF4500;
font-family: "微软雅黑",Arial, Helvetica, sans-serif;
font-weight: bold;
margin:10px 5px 10px 0 
}


.cur_price {
text-align: center;
font-weight: bold;
margin: 5px 0 0 0;
font-family: "微软雅黑",Arial, Helvetica, sans-serif;
font-family: Arial, Helvetica, sans-serif;
}
.cur_price_cor{
  color: #FF4500;
}
.cur_price_dig{
  font-size: 30px;
}

.f18 {
font-size: 18px;
}
.f28 {
font-size: 28px;
}
.f12 {
font-size: 12px;
}
.tripday{
	border: 1px solid #ddd;
padding: 0 8px;
border-radius: 4px;
margin:5px 5px 5px 0
}

.mg0bottom{
	margin-bottom:0;
}

.line00{background:#e8e8e8; height:1px;  margin:0px 0 6px 0; padding:0; display:block;}
.line11{background:#e8e8e8; height:1px;  margin:0px 0 0px 0; padding:0; display:block;}
.width250{
	
width:250px;
}
.itemspecial{
	float: left;
	width: 355px;
	overflow: hidden;
	margin: 0 0 0 10px;
	text-align: -webkit-match-parent;
}
.listul{
	margin: 0;
padding: 0;
list-style: none;
}

.oh {
overflow: hidden;
}
.itemlabel8{background:#f2f2f2; width:100%; height:30px;  font-family:"Open Sans"; font-size:13px; line-height:15px; overflow:hidden;}
.txtcenter{
	text-align:center;
}
.listdate{
	display: block;
float: left;
text-align: center;
padding: 0px 5px 0px 5px;
color: #999;
font-weight: bold;
background: #f2f2f2;
width: 100%;
height: 23px;
font-family: "Open Sans";
font-size: 13px;
line-height: 15px;
overflow: hidden;
}




/*******************************details*****************************/
  .col-md-d1 {
    width: 50%;
  }

  .d_title_div{
  height: 90px;
  width: 100%;
  margin: 0;
border-bottom: 1px solid #d9ddde;
  }
   .d_title{
  height: 60%;
  width: 100%;
  padding:25px 10px 5px 10px;
font-family: "微软雅黑",Arial, Helvetica, sans-serif;
font-size: 24px;
line-height: 20px;
  }
     .d_title2{
  height: 40%;
  width: 100%;
  padding:5px 10px 5px 20px;
font-family: "微软雅黑",Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 20px;
  }
  
  .hpadding20l{
  height:60px;
  }
  .width50{
  width:50%;
  }
  .borderright{
  border-right: 1px solid #e7e7e7;
  }
.d_info1{
  height:50%;
  padding:5px 5px 5px 10px;
}
.d_info2{
  height:50%;
  padding:5px 25px 5px 5px;
}
.padding20_pid{
	
  padding:20px 5px 5px 10px;
}

.f40 {
font-size: 40px;
}


.price_tips_d {
position: absolute;

width: 422px;
color: #333;
line-height: 22px;
top: 235px;
right: -110px;
border: 2px solid #dedede;
border-radius: 5px;
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
background-color: #fff;
font-size: 12px;
}

.icon_arrow {
position: absolute;
z-index: 999;
top: -18.4px;
left: 0;
width: 100%;
}

.m20 {
margin: 20px;
}

.n_fc05 {
color: #fb5b63;
}


.d_bordertype1{height:75px; border-bottom:1px solid #e7e7e7; text-align:center; color:#999;}
.d_bordertype2{height:75px; border-bottom:1px solid #e7e7e7; text-align:center; color:#999; padding:20px;}

a.d_add2fav{
width:95%;
height:52px;
border:1px solid #e5e5e5;
background:url('../../images/btn-plus.png') #fff no-repeat 20px 0;
padding:15px 10px 10px 60px;
display:block;
text-align:left;
text-transform:uppercase;
text-decoration:none; 
font-family:"Open Sans";
font-size:16px;
font-weight:700;
color:#7c8c94;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: rgba(0,0,0,0.1) 1px 1px 3px;
-moz-box-shadow: rgba(0,0,0,0.1) 1px 1px 3px;
box-shadow: rgba(0,0,0,0.1) 1px 1px 3px;
}

.d_booknow{
width:95%;
height:52px;
padding:15px 10px 10px 60px;
display:block;
text-align:left;
text-transform:uppercase;
font-family:"Open Sans";
font-size:16px;
font-weight:700;
color:#fff;
border: 1px solid #d75124;
background: url('../../images/btn-book.png') #e35121 no-repeat -5px 0;
text-shadow: rgba(0,0,0,.4) 0 -1px 0;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-box-shadow: rgba(0,0,0,0.2) 1px 2px 3px;
-moz-box-shadow: rgba(0,0,0,0.2) 1px 2px 3px;
box-shadow: rgba(0,0,0,0.2) 1px 2px 3px;
}
.d_booknow:hover{
text-decoration:none; 
color:#fff; 
text-shadow: rgba(0,0,0,.4) 0 -1px 0;
background:url('../../images/btn-book.png') #ff6633 no-repeat -5px -50px;
}


.hpadding10{padding: 0px 10px 0px 10px;}

.d_font{
font-family: "微软雅黑",Arial, Helvetica, sans-serif;
font-size: 13px;
line-height: 22px;
}
.d_bold{
font-weight: bold;
}

.d_content{
	text-align: left;
	font-family: "微软雅黑",Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 10px;
    color:#999;
    margin:10px;
}