/*!
 * rymen v0.0.1 (http://ryimen.com)
 * Copyright 2014-3014 ryimen, Inc.
 */
.navbar-inverse .navbar-brand {
    color: #bbb;
}
.navbar-inverse .navbar-nav > li > a {
  color: #bbb;
}

.navbar-inverse {
	background-color: rgba(34,34,34,0.5);
	border-color: rgba(18,18,18,0.5);
	}
	
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
	background-color: rgba(08,08,08,0.5);
}

.carousel {
    margin-bottom: 0px;
}

#templatemo_upcomming_event {
    margin-top: 0px;
}

#page * {
	box-sizing: content-box;
}

#page #contact * {
	box-sizing: border-box;
}

body {
    padding-bottom: 0px;
}