

body {
    font-family: Arial, Helvetica, sans-serif;
}

.templatemo_clear { clear: both; }

.container_wapper {
    width: 100%;
    background: #c0c0c0;
    border-bottom: 1px solid #fff;
}
.section_header  {
    height: 100px;
    /*
    background: url("../image/section-header.png") center center no-repeat;
    */
}
.section_header  h1 {
    margin-top: 50px;
    text-align: center;
}

/* templatemo_mobile_menu_wap */

#templatemo_mobile_menu_wap {
    width: 50px;
    height: 44px;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
    background: #35abd9;
}
#templatemo_mobile_menu_wap p#mobile_menu_btn {
    padding-top: 10px;
    font-size: 20px;
    text-align: right;
    width: 100%;
}
#templatemo_mobile_menu_wap p#mobile_menu_btn span {
    color: #fff;
}
#templatemo_mobile_menu_wap #mobile_menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background:#e7eaef;
    margin-top: 44px;
    border-radius: 4px;
}
#templatemo_mobile_menu_wap .nav-stacked li a {
    color: #000;
}
#templatemo_mobile_menu_wap .nav-stacked li:hover a {
    background-color: #67cbf2;
    color: #000;
}
#templatemo_mobile_menu_wap .nav-stacked li a.focus {
    background-color: transparent;
}
/* templatemo_banner_top */
#templatemo_banner_top {
    background: #35abd9;
    height: auto;
}
#templatemo_banner_top p ,
#templatemo_banner_top a {
    font-size: 14px;
    line-height: 45px;
    color: #fff;
}
#templatemo_banner_top p.right {
    text-align: left;
}

/* templatemo_banner_logo */
#templatemo_banner_logo {
    background-color: #ffffff;
    background-image: url("../image/banner_logo_bg.jpg");
    height: 135px;
}
#templatemo_banner_logo img {
	float: left;
}
#templatemo_banner_logo h1 a {
	float: left;
    font-size: 52px;
    color: #35abd9;
    text-align: left;
}
#templatemo_banner_logo h1 a:hover {
	text-decoration: none;
}
#templatemo_banner_logo span {
	clear: left;
    font-size: 16px;
    line-height: 14px;
    color: #000000;
    text-align: left;
	margin-left: 6px;
}

/* templatemo_banner_slide */
#templatemo_banner_slide {
    background: #ffffff;
    height: 600px;
}
#templatemo_banner_slide > div {
    height: 600px;
}
#templatemo_banner_slide .camera_caption {
    text-align: left;
    top: 0px;
}
#templatemo_banner_slide .camera_caption > div {
	background: rgba(0, 0, 0, 0.0);
}
#templatemo_banner_slide .camera_caption h1 ,
#templatemo_banner_slide .camera_caption p {
	color: #000;
	background-color: rgba(255,255,255,.7);
    line-height: 2em;
    padding: 20px;
    float: left;
    clear: both;
}
#templatemo_banner_slide .camera_caption h1 {
    font-size: 32px;
}
#templatemo_banner_slide .camera_caption p {
    font-size: 16px;
}

/* templatemo_main_menu */
#templatemo_main_menu {
    background: #e7eaef;
    border-bottom: 1px solid #d7dadd;
    z-index: 1500;
}
#templatemo_main_menu .nav-justified li {
    height: 105px;
}
#templatemo_main_menu .nav-justified li a {
    height: 105px;
    font-size: 24px;
    line-height: 75px;
    color: #000;
    margin-right:15px;
    margin-left:15px;
}
#templatemo_main_menu .nav-justified li a.current,
#templatemo_main_menu .nav-justified li a:hover {
    background: #35abd9 url("../image/menu_bg.jpg") center center;
    color: #fff;
}

/* templatemo_upcomming_event */
#templatemo_upcomming_event {
    margin-top: 110px;
    background: #edefed;
    background-image: url("../image/references-bg.png");    
    background-repeat: repeat;
    overflow: hidden;
}
#templatemo_upcomming_event h1 {
    color: #444444;
}
#templatemo_upcomming_event p {
    text-align: center;
}
/*
#templatemo_upcomming_event .event_box {
    margin-top: 30px;
    min-height: 425px;
    background: #eeeeee;
    box-shadow: inset 0px 0px 0px 1px rgba(210, 210, 210, 1);    
    position: relative;
}
*/
#templatemo_upcomming_event .event_box {
    margin-top: 30px;
    min-height: 425px;
    background: #f2f2f2;    
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);   
    position: relative;
}

#templatemo_upcomming_event .event_box ul {
    list-style: none;    
    padding: 25px 30px 15px 30px;    
    margin: 0;    
}
#templatemo_upcomming_event .event_box ul li {
    list-style: none;    
    padding: 10px 0 10px 0 ;    
    margin: 0;
    font-size: 14px;
    line-height: 30px;
    border-top: 1px solid #e2e2e2;
}
#templatemo_upcomming_event .event_box ul li:first-child {
    border-top: 0px ;
}
#templatemo_upcomming_event .event_box ul li span{
    padding-right: 15px;    
    color: #35abd9;
}
#templatemo_upcomming_event #prev_event_btn ,
#templatemo_upcomming_event #next_event_btn {
    margin-top: 60px;
    margin-bottom: 60px;
}
#templatemo_upcomming_event #prev_event_btn a  ,
#templatemo_upcomming_event #next_event_btn a {
    background: #eeeeee;
    width: 60px;
    height: 60px;
	padding: 12px;
    font-size: 28px;
    display: block;
    float: left;
    color: #0eb1dc;
}
#templatemo_upcomming_event #prev_event_btn a:hover ,
#templatemo_upcomming_event #next_event_btn a:hover {
    background: #e2e2e2;
}
#templatemo_upcomming_event #prev_event_btn a {
    float: right;
}
#templatemo_upcomming_event #next_event_btn a {
    float: left;
}

/* templatemo_pricing */
#templatemo_pricing {
    background: #3d444e;
    overflow: hidden;
}
#templatemo_pricing h1 {
    color: #ffffff;
}

#templatemo_pricing .pricing_icon_wapper {
    overflow: hidden;
}
#templatemo_pricing .pricing_icon_wapper p.cycle_icon {

}
#templatemo_pricing .pricing_icon_wapper p.cycle_icon span {
    width: 150px;
    height: 150px;
    display: block;
    border-radius: 75px;
    background: #e2e5ea;
    text-align: center;
	padding: 48px;
    font-size: 56px;
    color: #35abd9;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
#templatemo_pricing .pricing_icon_wapper h1 {
    text-align: center;
    font-size: 24px;
}

#templatemo_pricing .pricing_icon_wapper p {
    text-align: center;
    color: #fff;
}

#templatemo_pricing .price_table_box {
    background: #e7eaef;
    margin-top: 35px;
    margin-bottom: 60px;
    padding-bottom: 30px;
    position: relative;
}

#templatemo_pricing .price_table_box h1 {
    background: #35a9d8;
    margin: 0;
    width: 100%;
    min-height: 90px;
	padding: 30px 0px;
    text-align: center;
    font-size: 30px;
}

#templatemo_pricing .price_table_box ul {
    margin: 0;
    padding: 0 30px 25px 70px;
    list-style: none;
}

#templatemo_pricing .price_table_box ul li {
    margin: 0;
    padding: 25px 0 0 0;
}

#templatemo_pricing .price_table_box ul li span {
    margin: 0 10px 0 -30px;
}

#templatemo_pricing .price_table_box div {
    text-align: center;
    width: 200px;
    margin: auto;
}

#templatemo_pricing .price_table_box div:hover {
    background: #CCE5F5;
}

#templatemo_pricing .price_table_box div p a {
	display: block;
	border: 2px solid #35a9d8;
    font-size: 32px;
    color: #35a9d8; 
    width: 100%;
	padding: 12px 0px;
    text-decoration: none;
}

/* templatemo_blog */
#templatemo_blog {
    background: #ffffff;
    padding-bottom: 60px;
    overflow: hidden;
}
#templatemo_blog img {
    margin-bottom: 30px;
}
#templatemo_blog h1 {
    font-size: 30px;
}
#templatemo_blog .blog_text {
    margin-bottom: 30px;
}
#templatemo_blog .blog_text h1 {
    padding: 0;
    margin: 0;
}
#templatemo_blog .blog_text p {
    padding: 18px 0 0 0;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}

/* templatemo_contact */
#templatemo_contact {
    background: #f2f2f2;
    padding-bottom: 30px;
}
#templatemo_contact p {
    text-align: center;
}
#templatemo_contact form p {
    text-align: left;
    padding-top: 45px;
}
#templatemo_contact form textarea,
#templatemo_contact form input[type=text] {
    width: 100%;
    border: 2px solid #dbdbdb;
    padding: 10px;
}
#templatemo_contact form input[type=text] {
    height: 50px;
}
#templatemo_contact form textarea {
    height: 180px;
}
#templatemo_contact form textarea:focus,
#templatemo_contact form input[type=text]:focus {
    border: 2px solid #c1c1c1;
}
#templatemo_contact form button {
    width: 100%;
    border: 2px solid #008fc9;
	font-size: 20px;
	padding: 30px;
    background: #35a9d8;
    margin-top: 45px;
    margin-bottom: 25px;
    color: #fff;
}
#templatemo_contact form button:hover {
    background: #008fc9;
}
#templatemo_contact #templatemo_contact_map_wapper {
    width: 100%;
    height: 245px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
#templatemo_contact #templatemo_contact_map {
    width: 100%;
    height: 245px;
    position: absolute;
    left: 0;
    background: #b3e9ff;
}
#templatemo_footer {
    background: #dbdbdb;
	padding: 30px 0px;
}
#templatemo_footer p {
    text-align: center;
    padding: 0;
    margin: 0;
}
#templatemo_footer a {
    text-decoration: underline;
    color: #333333;
}

/*  Extra small devices (phones, less than 768px)  */
@media (max-width: 768px ) { 
    #templatemo_banner_logo h1 {
        font-size: 46px;
        text-align: left;
    }
    #templatemo_banner_logo span {
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        text-align: left;
    }
	#templatemo_pricing .pricing_icon_wapper {
		margin-bottom: 50px;
	}
    #templatemo_contact form button {
		width: 100%;
		padding: 15px;
    }
}
/*  Small devices (tablets, 768px and up)  */
@media (min-width: 768px ) { 

}
/*  Medium devices (desktops, 992px and up)  */
@media (min-width: 992px ) {
    #templatemo_banner_top p.right {
        text-align: right;
    }
    #templatemo_banner_top {
        height: 45px;
    }
}
/*  Large devices (large desktops, 1200px and up)  */
@media (min-width: 1200px ) {
}